

.all{
    display: flex;
    height: 50.17em;

}
.harr{
    height: 200px;
    width: 500px;
    margin-inline: 450px;
}
.bod{
    
    background-image: url("https://raw.githubusercontent.com/moaad99/img/main/harr.jpg?token=AO5IITVDY7QNJEBD2WESZ63AROKAW");
}
.intro{
    flex: 0.4;
   
margin-top: -30px;
padding: 40px;
margin-inline: 80px;

}
.btn{
    font-size: 16px;
    margin-inline: 10px;
    margin-top: 30px;
    height: 50px;
    max-width: 338px;
}
.harry{
    flex: 0.6;
}

.intro h1 {
    text-align: justify;
    color: white;
    font-size: 38px;
}
@media all and (min-width:0px) and (max-width:870px){
    .intro{
        margin-inline: 30px;
    }
    .harr{
        margin-inline: 40px;
        height: 140px;
        width: 260px;
    }
.intro h1 {
    text-align: justify;
    font-size: 25px;
    color: black;
}
.btn{
    height: 70px;
    width: 200px;
}
}